.wrap-header {
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: space-around;
}

.wrap-input {
  display: flex;
  flex:3;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  text-align: center;
}


input { 
  border: none;
  line-height: 2rem;
  padding:0;
  width:100%;
}


.title {
   font-family: "Arial" ;
   padding-left:0.5rem;
   font-weight: bold;
}

.wrap-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo-item {
   padding-left:0.5rem;
   padding-right: 0.5rem;
   margin-top: 0.5rem;
}

.innerleft, .innerright {
  cursor:pointer;

}

.innerleft {
  padding-left:0.5rem;
  padding-right:0.5rem;
  background: #F2F2F2;
  line-height: 2rem;
  cursor:pointer;
  border-radius: 0.2rem 0 0 0.2rem;
  color: #6f6f6f;
  border-right: 1px solid #cacaca;
  width: 6rem;
  
}

.innerright {
  padding-left:0.5rem;
  padding-right:0.5rem;
  background: #F2F2F2;;
  line-height: 2rem;
  cursor:pointer;
  border-radius: 0 0.2rem 0.2rem 0; 
  color: #6f6f6f;
  width:2rem;
}

.search {
   background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23757575%22%3E%3Cpath%20d%3D%22m15.5%2014h-0.79l-0.28-0.27c0.98-1.14%201.57-2.62%201.57-4.23%200-3.59-2.91-6.5-6.5-6.5s-6.5%202.91-6.5%206.5%202.91%206.5%206.5%206.5c1.61%200%203.09-0.59%204.23-1.57l0.27%200.28v0.79l5%204.99%201.49-1.49-4.99-5zm-6%200c-2.49%200-4.5-2.01-4.5-4.5s2.01-4.5%204.5-4.5%204.5%202.01%204.5%204.5-2.01%204.5-4.5%204.5z%22%2F%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E")  center center no-repeat;
}

.wrap-right {
  margin-right:1rem;
}

.megaMenu {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 55rem;
  margin-top:0.25rem;
  margin-left: 0.25rem;

}

ul li {
 list-style-type:  none;
 text-align: left;

}

ul li:last-child {
  padding-bottom: 1rem;
}

.ulmenu {
  display: flex;
  flex-direction: column;
  align-items:  flex-start;
  
}

